@charset "UTF-8";
#index_header{width: 100%; height: 50px; text-align: center;}
#index_table{width : 80%; margin: 0 auto; margin-top: 200px;}
#index_login_box{width: 300px; margin: 0 auto;}
#index_input_id{width:180px; height: 45px;}
#index_input_btn{width:100px; height: 100px;}
#index_input_pass{width:180px; height: 45px;}
